SECRET_KEY=''
DEBUG=False
ALLOWED_HOSTS='127.0.0.1 localhost'
DJANGO_SETTINGS_MODULE='jolio.settings.production'
SITE_URL=''
SUPABASE_DB_PASSWORD=your_production_database_password
SUPABASE_POSTGRESQL_URL=''
SUPABASE_S3_ACCESS_KEY_ID=''
SUPABASE_S3_SECRET_ACCESS_KEY=''
SUPABASE_S3_BUCKET_NAME=''
SUPABASE_S3_REGION_NAME=''
SUPABASE_S3_ENDPOINT_URL=''