@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/npm/material-icon-font@3.0.1/iconfont/MaterialIcons-Regular.woff2) format("woff2");
}