{# Footer Section #}
<footer class="w-full bg-white mb-16">
    <div class="flex flex-col p-8 items-center justify-center gap-4 max-w-screen-md m-auto text-center min-h-[50svh] h-full">
        <h2>
            Guess I was convincing?!<br>
            Let's get in touch henceforth.
        </h2>
        <p class="text-greyColor">
            I am introvert, but I am social. Special in my kind &
            <span class="text-primary underline">available to make magic</span>.
        </p>
    </div>
</footer>