{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{# Meta Titles #}
<meta name="title"
      content="I’ve kept at it: Better interfaces, smoother flows, friendlier clicks. I’ve built (and co-built) apps and sites that actually live out there. And Flutter? That went from a spark to full-on fire — real apps, real users, real progress."/>
<meta property="og:title"
      content="I’ve kept at it: Better interfaces, smoother flows, friendlier clicks. I’ve built (and co-built) apps and sites that actually live out there. And Flutter? That went from a spark to full-on fire — real apps, real users, real progress."/>
<meta property="twitter:title"
      content="I’ve kept at it: Better interfaces, smoother flows, friendlier clicks. I’ve built (and co-built) apps and sites that actually live out there. And Flutter? That went from a spark to full-on fire — real apps, real users, real progress."/>

{# Meta Images #}
<meta property="og:image" content="https://raw.githubusercontent.com/Joel-Fah/images/refs/heads/main/jolio-meta-image.png"/>
<meta property="twitter:image" content="https://raw.githubusercontent.com/Joel-Fah/images/refs/heads/main/jolio-meta-image.png"/>

<!-- Primary Meta Tags -->
<meta name="description" content="I’ve kept at it: Better interfaces, smoother flows, friendlier clicks. I’ve built (and co-built) apps and sites that actually live out there. And Flutter? That went from a spark to full-on fire — real apps, real users, real progress."/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website"/>
<meta property="og:url" content=""/>
<meta property="og:description" content="I’ve kept at it: Better interfaces, smoother flows, friendlier clicks. I’ve built (and co-built) apps and sites that actually live out there. And Flutter? That went from a spark to full-on fire — real apps, real users, real progress."
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:url" content=""/>
<meta property="twitter:description" content="I’ve kept at it: Better interfaces, smoother flows, friendlier clicks. I’ve built (and co-built) apps and sites that actually live out there. And Flutter? That went from a spark to full-on fire — real apps, real users, real progress."/>


<!-- Additional Meta Tags -->
<meta name="robots" content="index, follow">
<meta name="theme-color" content="#2B2B2B">

<!-- Canonical Link -->
<link rel="canonical" href="">

{# Favicon #}
<link rel="shortcut icon" href="{% static 'core/images/favicon.ico' %}" type="image/x-icon">